//colors
$White: #ffffff;
$MainBlue: #5788d1;
$GreenButton: #68f598;
$GrayBcg: #f2f2f2;
$Black: #000000;
$GrayText: #6c6c6c;
$Green: #6af591;
$Blue: #28aed8;
$Red: #f56a6a;

//rwd
$mobile: 375px;
$tablet: 1100px;
$desktop: 1400px;
